<a href="https://colab.research.google.com/github/venelove/Pemprograman-Dasar/blob/main/Pertemuan_Dua%20percobaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 17
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 6
print(type(x))
x = 6.0
print(type(x))
x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [ ]:
x = True
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 'Polibatam'
print(type(x))

<class 'str'>

In [ ]:
multi_line = """Halo!
Kapan terakhir kali kita makan?
kita makan hari Jum'at yang lalu"""
print(multi_line)

Halo!
Kapan terakhir kali kita makan?
kita makan hari Jum'at yang lalu

In [ ]:
x = 'Venelove'
print(x[0])

V

In [ ]:
x = 'Venslove'
x[0] = 'f'

TypeError: 'str' object does not support item assignment

In [ ]:
x = 'Yogyakarta'
print(x[2:])

gyakarta

In [ ]:
name = "Vene Love"
print(f"Hallo, nama saya {name}")

Hallo, nama saya Vene Love

In [ ]:
name = " Saya Debo"
print("Siapa saya %s" % (name))

Siapa saya  Saya Debo

In [ ]:
nama = "Cinta"
print("Love itu apa :", nama)

Love itu apa : Cinta

In [ ]:
x = [1, 2.2, 'Polibatam']
print(type(x))

<class 'list'>

In [ ]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [ ]:
x = [1, 'Polibatam', True, 1.0]
print(x[2])

True

In [ ]:
x = [1, 2.2, 'Polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'Polibatam']

In [ ]:
# deklarasi variabel list
numbers = [ 1,4,8,9]
# cara mengakses elemen dalam variabel list
numbers [0] # 01
numbers [1] # 04
numbers [2] # 08
numbers [3] # 09
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 4
numbers[2] # 4

print (numbers[1]) #lakukan untuk setiap indexnya dan lihat hasilnya

4

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)     # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4      # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)    #[1, 2, 4]

#print lalu lihat hasilnya

3

In [ ]:
# deklarasi variabel list number
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) #1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4# [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

#print setiap hasil perubahan dan amati hasilnya

3

In [2]:
x= (1, "Polibatam", 1+3j)

print(type(x))

<class 'tuple'>

In [3]:
x = (5, 'program', 1+3j)
print(x[1])

print(x[0:3])

program
(5, 'program', (1+3j))

In [1]:
x = {1, 2, 7, 2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [2]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2)
print("Union:", union)

intersection = set1.intersection(set2)
print("Intersection:", intersection)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}

In [9]:
x = { 'name': 'Debora Venelove', 'age': 20, 'isMarried': False }
print(type(x))

<class 'dict'>

In [10]:
x = { 'name': 'Debora Venelove', 'age': 20, 'isMarried': False }
print(x['name'])

Debora Venelove

In [4]:
x = { 'name': 'Debora Venelove', 'age': 20, 'isMarried': False}
x ['Job'] = "Florist Seller"

print(x)

{'name': 'Debora Venelove', 'age': 20, 'isMarried': False, 'Job': 'Florist Seller'}

In [7]:
x = { 'name': 'Debora Venelove', 'age': 20, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'Debora Venelove', 'age': 20}

In [8]:
x = { 'name': 'Debora Venelove', 'age': 20, 'isMarried': False}
x ['name'] = "Moi"

print(x)

{'name': 'Moi', 'age': 20, 'isMarried': False}