<a href="https://colab.research.google.com/github/venelove/Pemprograman-Dasar/blob/main/Pertemuan_Dua.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
age = 17
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [6]:
x = 6
print(type(x))
x = 6.0
print(type(x))
x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [10]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [11]:
x = True
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [13]:
x = 'Polibatam'
print(type(x))

<class 'str'>

In [17]:
multi_line = """Halo!
Kapan terakhir kali kita makan?
kita makan hari Jum'at yang lalu"""
print(multi_line)

Halo!
Kapan terakhir kali kita makan?
kita makan hari Jum'at yang lalu

In [19]:
x = 'Venelove'
print(x[0])

V

In [20]:
x = 'Venslove'
x[0] = 'f'

TypeError: 'str' object does not support item assignment

In [22]:
x = 'Yogyakarta'
print(x[2:])

gyakarta

In [29]:
name = "Vene Love"
print(f"Hallo, nama saya {name}")

Hallo, nama saya Vene Love

In [31]:
name = " Saya Debo"
print("Siapa saya %s" % (name))

Siapa saya  Saya Debo

In [33]:
nama = "Cinta"
print("Love itu apa :", nama)

Love itu apa : Cinta

In [35]:
x = [1, 2.2, 'Polibatam']
print(type(x))

<class 'list'>

In [36]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [37]:
x = [1, 'Polibatam', True, 1.0]
print(x[2])

True

In [39]:
x = [1, 2.2, 'Polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'Polibatam']

In [42]:
# deklarasi variabel list
numbers = [ 1,4,8,9]
# cara mengakses elemen dalam variabel list
numbers [0] # 01
numbers [1] # 04
numbers [2] # 08
numbers [3] # 09
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 4
numbers[2] # 4

print (numbers[1]) #lakukan untuk setiap indexnya dan lihat hasilnya

4

In [46]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)     # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4      # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)    #[1, 2, 4]

#print lalu lihat hasilnya

3